---
layout: default
---

<!-- Sorting Notice -->
<p class="sorting-info">Posts are sorted from newest to oldest. Click "Next (Older Posts)" to navigate backward in time.</p>

<!-- Loop through posts -->
{% for post in paginator.posts %}
  <h1><a href="{{ post.url }}">{{ post.title }}</a></h1>
  <p class="author">
    <span class="date">{{ post.date | date_to_string }}</span>
  </p>
{% endfor %}

<!-- Pagination Links -->
<div class="pagination">
  <!-- Direct Last Page Link (Now Labeled 'Oldest Posts') -->
  {% if paginator.page < paginator.total_pages %}
    <a href="{{ site.baseurl }}/page{{ paginator.total_pages }}/" class="pagination-last">⬅ Oldest Posts</a>
  {% endif %}

  {% if paginator.previous_page %}
    <a href="{{ paginator.previous_page_path }}" class="pagination-prev">⬅ Previous</a>
  {% else %}
    <span class="pagination-prev disabled">⬅ Previous</span>
  {% endif %}

  <!-- Numerical Pagination -->
  {% for page in (1..paginator.total_pages) %}
    {% if page == paginator.page %}
      <span class="pagination-current">{{ page }}</span>
    {% else %}
      <a href="{% if page == 1 %}{{ site.baseurl }}/{% else %}{{ site.baseurl }}/page{{ page }}/{% endif %}" class="pagination-num">{{ page }}</a>
    {% endif %}
  {% endfor %}

  {% if paginator.next_page %}
    <a href="{{ paginator.next_page_path }}" class="pagination-next">Next (Older Posts) ➡</a>
  {% else %}
    <span class="pagination-next disabled">Next (Older Posts) ➡</span>
  {% endif %}
</div>
