---
layout: default
---

<!-- This loops through the paginated posts -->
{% for post in paginator.posts %}
  <h1><a href="{{ post.url }}">{{ post.title }}</a></h1>
  <p class="author">
    <span class="date">{{ post.date | date_to_string }}</span>
  </p>
{% endfor %}

<!-- Pagination Links -->
<div class="pagination">
  {% if paginator.previous_page %}
    <a href="{{ paginator.previous_page_path }}" class="pagination-prev">Previous</a>
  {% else %}
    <span class="pagination-prev disabled">Previous</span>
  {% endif %}

  <!-- Numerical Pagination -->
  {% for page in (1..paginator.total_pages) %}
    {% if page == paginator.page %}
      <span class="pagination-current">{{ page }}</span>
    {% else %}
      <a href="{% if page == 1 %}{{ site.baseurl }}/{% else %}{{ site.baseurl }}/page{{ page }}/{% endif %}" class="pagination-num">{{ page }}</a>
    {% endif %}
  {% endfor %}

  {% if paginator.next_page %}
    <a href="{{ paginator.next_page_path }}" class="pagination-next">Next</a>
  {% else %}
    <span class="pagination-next disabled">Next</span>
  {% endif %}

  <!-- Direct Last Page Link -->
  {% if paginator.page < paginator.total_pages %}
    <a href="{{ site.baseurl }}/page{{ paginator.total_pages }}/" class="pagination-last">Last Page</a>
  {% endif %}
</div>
